body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
  font-family: 'PT Sans Narrow';
  font-size: larger;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border-radius: 6px;
}

.shadow {
  box-shadow: 0.5px 7px 5px 2px rgba(58, 59, 69) !important;
}



.name {
  margin-top: 45px;
  margin-left: 20px;
  font-weight: bold;
}

.input-name {
  margin-top: 40px;
  margin-left: -15px;
}

.phone {
  margin-top: 45px;
  margin-left: -15px;
  font-weight: bold;
}

.input-phone {
  margin-top: 40px;
  margin-left: -15px;
}

.btn-s {
  --bs-btn-color: rgb(253, 247, 247);
  --bs-btn-bg: #1baf27;
  --bs-btn-border-color: #0f0307;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #2cff2c;
  --bs-btn-hover-border-color: #ff2020;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #030302;
}

.btn-d {
  --bs-btn-color: rgb(250, 239, 239);
  --bs-btn-bg: #c91818;
  --bs-btn-border-color: #181817;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #e41809;
  --bs-btn-hover-border-color: #15e230;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
  margin-left: 3px;
}

.btn-p {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1e21d1;
  --bs-btn-border-color: #5e9bf7;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #1968df;
  --bs-btn-hover-border-color: #2e51ec;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-w {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fbbf24;
  --bs-btn-border-color: #5e9bf7;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fde047;
  --bs-btn-hover-border-color: #2e51ec;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgb(226, 223, 253);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  color: var(--bs-table-color);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-image: linear-gradient(to right, rgba(137, 135, 243, 0), rgb(45, 28, 197));
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.table th,
.table td {
    padding: 12px 50px;
}


.font {
  font-weight: bold;
  color: #0537a3
}

a {
  margin:0;
  transition:all .4s;
  -webkit-transition:all .4s;
  -o-transition:all .4s;
  -moz-transition:all .4s
 }
 a:focus {
  outline:none!important
 }
 a:hover {
  text-decoration:none
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  margin:0
 }
 p {
  margin:0
 }
 ul,
 li {
  margin:0;
  list-style-type:none
 }
 input {
  display:block;
  outline:none;
  border:none
 }
 textarea {
  display:block;
  outline:none
 }
 textarea:focus,
 input:focus {
  border-color:transparent!important
 }
 button {
  outline:none!important; 
  border:none;
  background:0 0
 }
   
 iframe {
  border:none!important
 } 
 .limiter {
  width:100%; 
  margin:0 auto
 }

 .wrap-table100 {
  width:1170px
 }
 table {
  border-spacing:1;
  border-collapse:collapse;
  background:#fff;
  border-radius:10px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative
 }
 table * {
  position:relative
 }
 table td,
 table th {
  padding-left:8px
 }
 table thead tr {
  height:60px;
  background:#4c56dd98
 }
 table tbody tr {
  height:50px
 }
 table tbody tr:last-child {
  border:0
 }
 table td,
 table th {
  text-align:left
 }
 table td.l,
 table th.l {
  text-align:right
 }
 table td.c,
 table th.c {
  text-align:center
 }
 table td.r,
 table th.r {
  text-align:center
 }
 .table100-head th {
  font-family:OpenSans-Regular;
  font-size:18px;
  color:#fff;
  line-height:1.2;
  font-weight:unset
 }
 tbody tr:nth-child(even) {
  background-color:#f5f5f5;
  font-family:OpenSans-Regular;
  font-size:15px;
 }
 tbody tr {
  font-family:OpenSans-Regular;
  font-size:15px;
  color:rgb(19, 18, 18);
  line-height:1.2;
  font-weight:unset

 }
 tbody tr:hover {
  color:rgb(56, 31, 196);
  background-color:#f5f5f5;
  cursor:pointer;
  box-shadow: 1px 10px 10px 10px rgb(19, 19, 22) !important;
 }
 .column1 {
  width:260px;
  padding-left:40px
 }
 .column2 {
  width:160px
 }
 .column3 {
  width:245px
 }
 .column4 {
  width:110px;
  text-align:right
 }

 @media screen and (max-width:992px) {
  table {
   display:block
  }
  table>*,
  table tr,
  table td,
  table th {
   display:block
  }
  table thead {
   display:none
  }
  table tbody tr {
   height:auto;
   padding:37px 0
  }
  table tbody tr td {
   padding-left:40%!important;
   margin-bottom:24px
  }
  table tbody tr td:last-child {
   margin-bottom:0
  }
  table tbody tr td:before {
   font-family:OpenSans-Regular;
   font-size:20px;
   font-weight: bold;
   margin-top: 10px;
   color:rgb(32, 26, 26);
   line-height:1.2;
   font-weight:unset;
   position:absolute;
   width:40%;
   left:30px;
   top:0
  }
  table tbody tr td:nth-child(1):before {
   content:"#"
  }
  table tbody tr td:nth-child(2):before {
   content:"Name"
  }
  table tbody tr td:nth-child(3):before {
   content:"Phone"
  }
  table tbody tr td:nth-child(4):before {
   content:"Actions"
  }
 
  .column4,
  .column5,
  .column6 {
   text-align:left
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
   width:100%
  }
  tbody tr {
   font-size:14px
  }
 }
 @media(max-width:576px) {
  .container-table100 {
   padding-left:15px;
   padding-right:15px
  }
 }
 